In [71]:
import warnings
warnings.filterwarnings('ignore')

In [72]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,cross_decomposition,model_selection,metrics
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
%matplotlib inline
import dateutil
from tqdm import tqdm
from sklearn import linear_model
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels import tsa
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets

In [73]:
confirmedGlobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',encoding='utf-8',na_values=None)
confirmedGlobal

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,137853,141489,142414,142414,143183,143439,143439,143439,144285,145008
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132686,132697,132740,132763,132797,132828,132853,132875,132891,132922
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,153309,154486,155784,157005,158213,159563,160868,162155,163660,165204
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,14273,14359,14379,14379,14464,14498,14498,14498,14577,14586
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,40805,40906,41061,41227,41405,41629,41736,41780,41879,42110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,55845,60180,65607,71144,78269,86957,94913,101173,106347,117121
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,315641,315761,315761,315876,315876,315968,315968,316088,316088,316189
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6981,6987,6992,6997,7001,7003,7008,7012,7012,7022
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,185649,186279,187602,188573,189731,190615,191527,192071,192316,192956
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,83619,85732,88415,91120,93421,95686,97277,97894,99944,101711

In [74]:
deathGLobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
deathGLobal

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,5983,6213,6266,6266,6325,6357,6357,6357,6477,6515
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,3938,3956,3979,3994,4008,4026,4042,4063,4087,4112
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,957,969,970,973,977,981,982,984,991,994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,254,334,334,370,370,370,370,370,524,524
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,3587,3589,3589,3591,3591,3596,3596,3599,3599,3600
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1368,1370,1371,1371,1372,1372,1373,1373,1373,1374
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,3084,3113,3138,3162,3196,3221,3250,3272,3295,3316
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,2622,2697,2747,2809,2870,2961,3050,3094,3173,3280

In [75]:
recoverGlobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recoverGlobal

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,130074,130081,130086,130097,130109,130118,130125,130139,130152,130166
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,105604,106337,107041,107776,108537,109349,109951,110577,111322,112050
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13844,13897,13930,13930,13988,13988,13988,13988,14077,14113
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,34755,34790,34857,34893,35082,35284,35423,35474,35686,35742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,10667,11047,11443,11971,13421,15536,17583,19342,21344,22946
260,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,310525,310601,310601,310961,310961,311380,311380,311526,311526,311560
261,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,4159,4162,4162,4162,4162,4163,4166,4166,4166,4168
262,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,171699,173320,174728,175429,177419,179171,180535,181638,182665,183534
263,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,53453,55714,58155,59627,61723,62986,64628,65913,67827,70496

In [76]:
confirmedGlobal['NewContryCode']=confirmedGlobal['Country/Region']+confirmedGlobal['Province/State'].fillna('')
deathGLobal['NewContryCode']=deathGLobal['Country/Region']+deathGLobal['Province/State'].fillna('')
recoverGlobal['NewContryCode']=recoverGlobal['Country/Region']+recoverGlobal['Province/State'].fillna(' ')
recoverGlobal

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,NewContryCode
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,Afghanistan
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,130081,130086,130097,130109,130118,130125,130139,130152,130166,Albania
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,106337,107041,107776,108537,109349,109951,110577,111322,112050,Algeria
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13897,13930,13930,13988,13988,13988,13988,14077,14113,Andorra
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,34790,34857,34893,35082,35284,35423,35474,35686,35742,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,11047,11443,11971,13421,15536,17583,19342,21344,22946,Vietnam
260,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,310601,310601,310961,310961,311380,311380,311526,311526,311560,West Bank and Gaza
261,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,4162,4162,4162,4162,4163,4166,4166,4166,4168,Yemen
262,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,173320,174728,175429,177419,179171,180535,181638,182665,183534,Zambia
263,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,55714,58155,59627,61723,62986,64628,65913,67827,70496,Zimbabwe

In [77]:
uniqueCOuntryName=pd.unique(confirmedGlobal['Country/Region'])
df2=confirmedGlobal[list(confirmedGlobal.columns[1:2])+list([confirmedGlobal.columns[-2]])]
df2.columns=['Country','values']
dictVal=[]
for i in range(df2.shape[0]):
    dictVal.append(dict(df2.iloc[i]))
df2=df2.sort_values(by='values',ascending=False)
contryNames=list(df2['Country'].values)
(df2.head())

    Country    values
254      US  34603919
147   India  31484605
30   Brazil  19749073
217  Russia   6094379
130  France   5946041

In [78]:
import dateutil
timestamps=[dateutil.parser.parse(i) for i in confirmedGlobal.columns[4:-1]]
datasetsForLine=[]
for i in uniqueCOuntryName:
    temp={}
    temp['label']=i
    temp['data']=confirmedGlobal[confirmedGlobal['Country/Region']==i][confirmedGlobal.columns[4:-1]].sum().values.tolist()
    datasetsForLine.append(temp)

In [79]:
df3=pd.read_json('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json')
df3.head()

  code3         name   value code
0   ABW        Aruba  582.34   AW
1   AFG  Afghanistan   53.08   AF
2   AGO       Angola   23.11   AO
3   ALB      Albania  104.97   AL
4   AND      Andorra  164.43   AD

In [80]:
dataForMap=[]
for i in uniqueCOuntryName:
    try:
        tempdf=df3[df3['name']==i]
        temp={}
        temp["code3"]=list(tempdf['code3'].values)[0]
        temp["name"]=i
        temp["value"]=df2[df2['Country']==i]['values'].sum()
        temp["code"]=list(tempdf['code'].values)[0]
        dataForMap.append(temp)
    except:
        pass

In [81]:
dataForMap

[{'code3': 'AFG', 'name': 'Afghanistan', 'value': 145008, 'code': 'AF'},
 {'code3': 'ALB', 'name': 'Albania', 'value': 132922, 'code': 'AL'},
 {'code3': 'DZA', 'name': 'Algeria', 'value': 165204, 'code': 'DZ'},
 {'code3': 'AND', 'name': 'Andorra', 'value': 14586, 'code': 'AD'},
 {'code3': 'AGO', 'name': 'Angola', 'value': 42110, 'code': 'AO'},
 {'code3': 'ATG', 'name': 'Antigua and Barbuda', 'value': 1288, 'code': 'AG'},
 {'code3': 'ARG', 'name': 'Argentina', 'value': 4875927, 'code': 'AR'},
 {'code3': 'ARM', 'name': 'Armenia', 'value': 229090, 'code': 'AM'},
 {'code3': 'AUS', 'name': 'Australia', 'value': 33473, 'code': 'AU'},
 {'code3': 'AUT', 'name': 'Austria', 'value': 656949, 'code': 'AT'},
 {'code3': 'AZE', 'name': 'Azerbaijan', 'value': 341183, 'code': 'AZ'},
 {'code3': 'BHR', 'name': 'Bahrain', 'value': 268731, 'code': 'BH'},
 {'code3': 'BGD', 'name': 'Bangladesh', 'value': 1194752, 'code': 'BD'},
 {'code3': 'BRB', 'name': 'Barbados', 'value': 4359, 'code': 'BB'},
 {'code3': 'BLR', 'name': 'Belarus', 'value': 441881, 'code': 'BY'},
 {'code3': 'BEL', 'name': 'Belgium', 'value': 1119030, 'code': 'BE'},
 {'code3': 'BLZ', 'name': 'Belize', 'value': 13983, 'code': 'BZ'},
 {'code3': 'BEN', 'name': 'Benin', 'value': 8324, 'code': 'BJ'},
 {'code3': 'BTN', 'name': 'Bhutan', 'value': 2500, 'code': 'BT'},
 {'code3': 'BOL', 'name': 'Bolivia', 'value': 470024, 'code': 'BO'},
 {'code3': 'BIH',
  'name': 'Bosnia and Herzegovina',
  'value': 205523,
  'code': 'BA'},
 {'code3': 'BWA', 'name': 'Botswana', 'value': 102124, 'code': 'BW'},
 {'code3': 'BRA', 'name': 'Brazil', 'value': 19749073, 'code': 'BR'},
 {'code3': 'BGR', 'name': 'Bulgaria', 'value': 424079, 'code': 'BG'},
 {'code3': 'BFA', 'name': 'Burkina Faso', 'value': 13556, 'code': 'BF'},
 {'code3': 'BDI', 'name': 'Burundi', 'value': 6573, 'code': 'BI'},
 {'code3': 'CPV', 'name': 'Cabo Verde', 'value': 33626, 'code': 'CV'},
 {'code3': 'KHM', 'name': 'Cambodia', 'value': 74386, 'code': 'KH'},
 {'code3': 'CMR', 'name': 'Cameroon', 'value': 82064, 'code': 'CM'},
 {'code3': 'CAN', 'name': 'Canada', 'value': 1435403, 'code': 'CA'},
 {'code3': 'CAF',
  'name': 'Central African Republic',
  'value': 7148,
  'code': 'CF'},
 {'code3': 'TCD', 'name': 'Chad', 'value': 4971, 'code': 'TD'},
 {'code3': 'CHL', 'name': 'Chile', 'value': 1611090, 'code': 'CL'},
 {'code3': 'CHN', 'name': 'China', 'value': 104800, 'code': 'CN'},
 {'code3': 'COL', 'name': 'Colombia', 'value': 4747775, 'code': 'CO'},
 {'code3': 'COM', 'name': 'Comoros', 'value': 4024, 'code': 'KM'},
 {'code3': 'CRI', 'name': 'Costa Rica', 'value': 402044, 'code': 'CR'},
 {'code3': 'CIV', 'name': "Cote d'Ivoire", 'value': 49699, 'code': 'CI'},
 {'code3': 'HRV', 'name': 'Croatia', 'value': 362841, 'code': 'HR'},
 {'code3': 'CUB', 'name': 'Cuba', 'value': 349055, 'code': 'CU'},
 {'code3': 'CYP', 'name': 'Cyprus', 'value': 99360, 'code': 'CY'},
 {'code3': 'DNK', 'name': 'Denmark', 'value': 313922, 'code': 'DK'},
 {'code3': 'DJI', 'name': 'Djibouti', 'value': 11640, 'code': 'DJ'},
 {'code3': 'DMA', 'name': 'Dominica', 'value': 209, 'code': 'DM'},
 {'code3': 'DOM', 'name': 'Dominican Republic', 'value': 340498, 'code': 'DO'},
 {'code3': 'ECU', 'name': 'Ecuador', 'value': 480720, 'code': 'EC'},
 {'code3': 'SLV', 'name': 'El Salvador', 'value': 85779, 'code': 'SV'},
 {'code3': 'GNQ', 'name': 'Equatorial Guinea', 'value': 8880, 'code': 'GQ'},
 {'code3': 'EST', 'name': 'Estonia', 'value': 132717, 'code': 'EE'},
 {'code3': 'ETH', 'name': 'Ethiopia', 'value': 278920, 'code': 'ET'},
 {'code3': 'FJI', 'name': 'Fiji', 'value': 25139, 'code': 'FJ'},
 {'code3': 'FIN', 'name': 'Finland', 'value': 103851, 'code': 'FI'},
 {'code3': 'FRA', 'name': 'France', 'value': 6088930, 'code': 'FR'},
 {'code3': 'GAB', 'name': 'Gabon', 'value': 25344, 'code': 'GA'},
 {'code3': 'GEO', 'name': 'Georgia', 'value': 407689, 'code': 'GE'},
 {'code3': 'DEU', 'name': 'Germany', 'value': 3766501, 'code': 'DE'},
 {'code3': 'GHA', 'name': 'Ghana', 'value': 102103, 'code': 'GH'},
 {'code3': 'GRC', 'name': 'Greece', 'value': 482145, 'code': 'GR'},
 {'code3': 'GRD', 'name': 'Grenada', 'value': 164, 'code': 'GD'},
 {'code3': 'GTM', 'name': 'Guatemala', 'value': 355223, 'code': 'GT'},
 {'code3': 'GIN', 'name': 'Guinea', 'value': 25211, 'code': 'GN'},
 {'code3': 'GNB', 'name': 'Guinea-Bissau', 'value': 4281, 'code': 'GW'},
 {'code3': 'GUY', 'name': 'Guyana', 'value': 22234, 'code': 'GY'},
 {'code3': 'HTI', 'name': 'Haiti', 'value': 19918, 'code': 'HT'},
 {'code3': 'HND', 'name': 'Honduras', 'value': 291687, 'code': 'HN'},
 {'code3': 'HUN', 'name': 'Hungary', 'value': 809288, 'code': 'HU'},
 {'code3': 'ISL', 'name': 'Iceland', 'value': 7428, 'code': 'IS'},
 {'code3': 'IND', 'name': 'India', 'value': 31484605, 'code': 'IN'},
 {'code3': 'IDN', 'name': 'Indonesia', 'value': 3239936, 'code': 'ID'},
 {'code3': 'IRQ', 'name': 'Iraq', 'value': 1577013, 'code': 'IQ'},
 {'code3': 'IRL', 'name': 'Ireland', 'value': 295386, 'code': 'IE'},
 {'code3': 'ISR', 'name': 'Israel', 'value': 864912, 'code': 'IL'},
 {'code3': 'ITA', 'name': 'Italy', 'value': 4325046, 'code': 'IT'},
 {'code3': 'JAM', 'name': 'Jamaica', 'value': 52141, 'code': 'JM'},
 {'code3': 'JPN', 'name': 'Japan', 'value': 883767, 'code': 'JP'},
 {'code3': 'JOR', 'name': 'Jordan', 'value': 767327, 'code': 'JO'},
 {'code3': 'KAZ', 'name': 'Kazakhstan', 'value': 609646, 'code': 'KZ'},
 {'code3': 'KEN', 'name': 'Kenya', 'value': 198935, 'code': 'KE'},
 {'code3': 'KIR', 'name': 'Kiribati', 'value': 2, 'code': 'KI'},
 {'code3': 'KWT', 'name': 'Kuwait', 'value': 394538, 'code': 'KW'},
 {'code3': 'LVA', 'name': 'Latvia', 'value': 138572, 'code': 'LV'},
 {'code3': 'LBN', 'name': 'Lebanon', 'value': 557145, 'code': 'LB'},
 {'code3': 'LSO', 'name': 'Lesotho', 'value': 12880, 'code': 'LS'},
 {'code3': 'LBR', 'name': 'Liberia', 'value': 5396, 'code': 'LR'},
 {'code3': 'LBY', 'name': 'Libya', 'value': 240309, 'code': 'LY'},
 {'code3': 'LIE', 'name': 'Liechtenstein', 'value': 3080, 'code': 'LI'},
 {'code3': 'LTU', 'name': 'Lithuania', 'value': 281284, 'code': 'LT'},
 {'code3': 'LUX', 'name': 'Luxembourg', 'value': 73637, 'code': 'LU'},
 {'code3': 'MDG', 'name': 'Madagascar', 'value': 42607, 'code': 'MG'},
 {'code3': 'MWI', 'name': 'Malawi', 'value': 49752, 'code': 'MW'},
 {'code3': 'MYS', 'name': 'Malaysia', 'value': 1044071, 'code': 'MY'},
 {'code3': 'MDV', 'name': 'Maldives', 'value': 76953, 'code': 'MV'},
 {'code3': 'MLI', 'name': 'Mali', 'value': 14551, 'code': 'ML'},
 {'code3': 'MLT', 'name': 'Malta', 'value': 33904, 'code': 'MT'},
 {'code3': 'MHL', 'name': 'Marshall Islands', 'value': 4, 'code': 'MH'},
 {'code3': 'MRT', 'name': 'Mauritania', 'value': 24349, 'code': 'MR'},
 {'code3': 'MUS', 'name': 'Mauritius', 'value': 3785, 'code': 'MU'},
 {'code3': 'MEX', 'name': 'Mexico', 'value': 2771846, 'code': 'MX'},
 {'code3': 'MDA', 'name': 'Moldova', 'value': 258852, 'code': 'MD'},
 {'code3': 'MCO', 'name': 'Monaco', 'value': 2814, 'code': 'MC'},
 {'code3': 'MNG', 'name': 'Mongolia', 'value': 160344, 'code': 'MN'},
 {'code3': 'MNE', 'name': 'Montenegro', 'value': 101352, 'code': 'ME'},
 {'code3': 'MAR', 'name': 'Morocco', 'value': 588448, 'code': 'MA'},
 {'code3': 'MOZ', 'name': 'Mozambique', 'value': 113426, 'code': 'MZ'},
 {'code3': 'NAM', 'name': 'Namibia', 'value': 117293, 'code': 'NA'},
 {'code3': 'NPL', 'name': 'Nepal', 'value': 685673, 'code': 'NP'},
 {'code3': 'NLD', 'name': 'Netherlands', 'value': 1880593, 'code': 'NL'},
 {'code3': 'NZL', 'name': 'New Zealand', 'value': 2865, 'code': 'NZ'},
 {'code3': 'NIC', 'name': 'Nicaragua', 'value': 9470, 'code': 'NI'},
 {'code3': 'NER', 'name': 'Niger', 'value': 5600, 'code': 'NE'},
 {'code3': 'NGA', 'name': 'Nigeria', 'value': 171728, 'code': 'NG'},
 {'code3': 'NOR', 'name': 'Norway', 'value': 136370, 'code': 'NO'},
 {'code3': 'OMN', 'name': 'Oman', 'value': 295017, 'code': 'OM'},
 {'code3': 'PAK', 'name': 'Pakistan', 'value': 1015827, 'code': 'PK'},
 {'code3': 'PLW', 'name': 'Palau', 'value': 0, 'code': 'PW'},
 {'code3': 'PAN', 'name': 'Panama', 'value': 431554, 'code': 'PA'},
 {'code3': 'PNG', 'name': 'Papua New Guinea', 'value': 17655, 'code': 'PG'},
 {'code3': 'PRY', 'name': 'Paraguay', 'value': 450494, 'code': 'PY'},
 {'code3': 'PER', 'name': 'Peru', 'value': 2104394, 'code': 'PE'},
 {'code3': 'PHL', 'name': 'Philippines', 'value': 1562420, 'code': 'PH'},
 {'code3': 'POL', 'name': 'Poland', 'value': 2882327, 'code': 'PL'},
 {'code3': 'PRT', 'name': 'Portugal', 'value': 956985, 'code': 'PT'},
 {'code3': 'QAT', 'name': 'Qatar', 'value': 225522, 'code': 'QA'},
 {'code3': 'ROU', 'name': 'Romania', 'value': 1082551, 'code': 'RO'},
 {'code3': 'RWA', 'name': 'Rwanda', 'value': 66987, 'code': 'RW'},
 {'code3': 'WSM', 'name': 'Samoa', 'value': 3, 'code': 'WS'},
 {'code3': 'SMR', 'name': 'San Marino', 'value': 5130, 'code': 'SM'},
 {'code3': 'STP',
  'name': 'Sao Tome and Principe',
  'value': 2424,
  'code': 'ST'},
 {'code3': 'SAU', 'name': 'Saudi Arabia', 'value': 518143, 'code': 'SA'},
 {'code3': 'SEN', 'name': 'Senegal', 'value': 58523, 'code': 'SN'},
 {'code3': 'SRB', 'name': 'Serbia', 'value': 720643, 'code': 'RS'},
 {'code3': 'SYC', 'name': 'Seychelles', 'value': 18062, 'code': 'SC'},
 {'code3': 'SLE', 'name': 'Sierra Leone', 'value': 6247, 'code': 'SL'},
 {'code3': 'SGP', 'name': 'Singapore', 'value': 64453, 'code': 'SG'},
 {'code3': 'SVN', 'name': 'Slovenia', 'value': 258780, 'code': 'SI'},
 {'code3': 'SLB', 'name': 'Solomon Islands', 'value': 20, 'code': 'SB'},
 {'code3': 'SOM', 'name': 'Somalia', 'value': 15294, 'code': 'SO'},
 {'code3': 'ZAF', 'name': 'South Africa', 'value': 2391223, 'code': 'ZA'},
 {'code3': 'ESP', 'name': 'Spain', 'value': 4368453, 'code': 'ES'},
 {'code3': 'LKA', 'name': 'Sri Lanka', 'value': 299892, 'code': 'LK'},
 {'code3': 'SDN', 'name': 'Sudan', 'value': 37138, 'code': 'SD'},
 {'code3': 'SUR', 'name': 'Suriname', 'value': 25028, 'code': 'SR'},
 {'code3': 'SWE', 'name': 'Sweden', 'value': 1098154, 'code': 'SE'},
 {'code3': 'CHE', 'name': 'Switzerland', 'value': 715267, 'code': 'CH'},
 {'code3': 'TJK', 'name': 'Tajikistan', 'value': 14761, 'code': 'TJ'},
 {'code3': 'TZA', 'name': 'Tanzania', 'value': 509, 'code': 'TZ'},
 {'code3': 'THA', 'name': 'Thailand', 'value': 526828, 'code': 'TH'},
 {'code3': 'TLS', 'name': 'Timor-Leste', 'value': 10387, 'code': 'TL'},
 {'code3': 'TGO', 'name': 'Togo', 'value': 15292, 'code': 'TG'},
 {'code3': 'TTO', 'name': 'Trinidad and Tobago', 'value': 37771, 'code': 'TT'},
 {'code3': 'TUN', 'name': 'Tunisia', 'value': 575002, 'code': 'TN'},
 {'code3': 'TUR', 'name': 'Turkey', 'value': 5638178, 'code': 'TR'},
 {'code3': 'UGA', 'name': 'Uganda', 'value': 92795, 'code': 'UG'},
 {'code3': 'UKR', 'name': 'Ukraine', 'value': 2327777, 'code': 'UA'},
 {'code3': 'ARE',
  'name': 'United Arab Emirates',
  'value': 674724,
  'code': 'AE'},
 {'code3': 'GBR', 'name': 'United Kingdom', 'value': 5771732, 'code': 'GB'},
 {'code3': 'URY', 'name': 'Uruguay', 'value': 380793, 'code': 'UY'},
 {'code3': 'UZB', 'name': 'Uzbekistan', 'value': 125784, 'code': 'UZ'},
 {'code3': 'VUT', 'name': 'Vanuatu', 'value': 4, 'code': 'VU'},
 {'code3': 'VNM', 'name': 'Vietnam', 'value': 117121, 'code': 'VN'},
 {'code3': 'PSE', 'name': 'West Bank and Gaza', 'value': 316189, 'code': 'PS'},
 {'code3': 'ZMB', 'name': 'Zambia', 'value': 192956, 'code': 'ZM'},
 {'code3': 'ZWE', 'name': 'Zimbabwe', 'value': 101711, 'code': 'ZW'}]

In [82]:
df3=confirmedGlobal[list(confirmedGlobal.columns[1:2])+list(list(confirmedGlobal.columns.values)[-6:-1])]
df3.head()

  Country/Region  7/23/21  7/24/21  7/25/21  7/26/21  7/27/21
0    Afghanistan   143439   143439   143439   144285   145008
1        Albania   132828   132853   132875   132891   132922
2        Algeria   159563   160868   162155   163660   165204
3        Andorra    14498    14498    14498    14577    14586
4         Angola    41629    41736    41780    41879    42110

In [83]:
dataForheatMap=[]
for i in contryNames:
    try:
        tempdf=df3[df3['Country/Region']==i]
        temp={}
        temp["name"]=i
        temp["data"]=[{'x':j,'y':k} for j,k in zip(tempdf[tempdf.columns[1:]].sum().index,tempdf[tempdf.columns[1:]].sum().values)]
        dataForheatMap.append(temp)
    except:
        pass
dataForheatMap

[{'name': 'US',
  'data': [{'x': '7/23/21', 'y': 34400680},
   {'x': '7/24/21', 'y': 34428075},
   {'x': '7/25/21', 'y': 34444083},
   {'x': '7/26/21', 'y': 34533179},
   {'x': '7/27/21', 'y': 34603919}]},
 {'name': 'India',
  'data': [{'x': '7/23/21', 'y': 31293062},
   {'x': '7/24/21', 'y': 31371901},
   {'x': '7/25/21', 'y': 31411262},
   {'x': '7/26/21', 'y': 31440951},
   {'x': '7/27/21', 'y': 31484605}]},
 {'name': 'Brazil',
  'data': [{'x': '7/23/21', 'y': 19632443},
   {'x': '7/24/21', 'y': 19670534},
   {'x': '7/25/21', 'y': 19688663},
   {'x': '7/26/21', 'y': 19707662},
   {'x': '7/27/21', 'y': 19749073}]},
 {'name': 'Russia',
  'data': [{'x': '7/23/21', 'y': 6002303},
   {'x': '7/24/21', 'y': 6025698},
   {'x': '7/25/21', 'y': 6049215},
   {'x': '7/26/21', 'y': 6071893},
   {'x': '7/27/21', 'y': 6094379}]},
 {'name': 'France',
  'data': [{'x': '7/23/21', 'y': 6015469},
   {'x': '7/24/21', 'y': 6041146},
   {'x': '7/25/21', 'y': 6056388},
   {'x': '7/26/21', 'y': 6061802},
   {'x': '7/27/21', 'y': 6088930}]},
 {'name': 'United Kingdom',
  'data': [{'x': '7/23/21', 'y': 5662838},
   {'x': '7/24/21', 'y': 5694462},
   {'x': '7/25/21', 'y': 5723399},
   {'x': '7/26/21', 'y': 5748331},
   {'x': '7/27/21', 'y': 5771732}]},
 {'name': 'Turkey',
  'data': [{'x': '7/23/21', 'y': 5574997},
   {'x': '7/24/21', 'y': 5587378},
   {'x': '7/25/21', 'y': 5601608},
   {'x': '7/26/21', 'y': 5618417},
   {'x': '7/27/21', 'y': 5638178}]},
 {'name': 'Argentina',
  'data': [{'x': '7/23/21', 'y': 4827973},
   {'x': '7/24/21', 'y': 4839109},
   {'x': '7/25/21', 'y': 4846615},
   {'x': '7/26/21', 'y': 4859170},
   {'x': '7/27/21', 'y': 4875927}]},
 {'name': 'Colombia',
  'data': [{'x': '7/23/21', 'y': 4705734},
   {'x': '7/24/21', 'y': 4716798},
   {'x': '7/25/21', 'y': 4727846},
   {'x': '7/26/21', 'y': 4736349},
   {'x': '7/27/21', 'y': 4747775}]},
 {'name': 'Spain',
  'data': [{'x': '7/23/21', 'y': 4280429},
   {'x': '7/24/21', 'y': 4280429},
   {'x': '7/25/21', 'y': 4280429},
   {'x': '7/26/21', 'y': 4342054},
   {'x': '7/27/21', 'y': 4368453}]},
 {'name': 'Italy',
  'data': [{'x': '7/23/21', 'y': 4307535},
   {'x': '7/24/21', 'y': 4312673},
   {'x': '7/25/21', 'y': 4317415},
   {'x': '7/26/21', 'y': 4320530},
   {'x': '7/27/21', 'y': 4325046}]},
 {'name': 'Germany',
  'data': [{'x': '7/23/21', 'y': 3760291},
   {'x': '7/24/21', 'y': 3761869},
   {'x': '7/25/21', 'y': 3763018},
   {'x': '7/26/21', 'y': 3764441},
   {'x': '7/27/21', 'y': 3766501}]},
 {'name': 'Iran',
  'data': [{'x': '7/23/21', 'y': 3645654},
   {'x': '7/24/21', 'y': 3664286},
   {'x': '7/25/21', 'y': 3691432},
   {'x': '7/26/21', 'y': 3723246},
   {'x': '7/27/21', 'y': 3758197}]},
 {'name': 'Indonesia',
  'data': [{'x': '7/23/21', 'y': 3082410},
   {'x': '7/24/21', 'y': 3127826},
   {'x': '7/25/21', 'y': 3166505},
   {'x': '7/26/21', 'y': 3194733},
   {'x': '7/27/21', 'y': 3239936}]},
 {'name': 'Poland',
  'data': [{'x': '7/23/21', 'y': 2881948},
   {'x': '7/24/21', 'y': 2882066},
   {'x': '7/25/21', 'y': 2882146},
   {'x': '7/26/21', 'y': 2882220},
   {'x': '7/27/21', 'y': 2882327}]},
 {'name': 'Mexico',
  'data': [{'x': '7/23/21', 'y': 2709739},
   {'x': '7/24/21', 'y': 2741983},
   {'x': '7/25/21', 'y': 2748518},
   {'x': '7/26/21', 'y': 2754438},
   {'x': '7/27/21', 'y': 2771846}]},
 {'name': 'South Africa',
  'data': [{'x': '7/23/21', 'y': 2356049},
   {'x': '7/24/21', 'y': 2368105},
   {'x': '7/25/21', 'y': 2377823},
   {'x': '7/26/21', 'y': 2383490},
   {'x': '7/27/21', 'y': 2391223}]},
 {'name': 'Ukraine',
  'data': [{'x': '7/23/21', 'y': 2323638},
   {'x': '7/24/21', 'y': 2324935},
   {'x': '7/25/21', 'y': 2325776},
   {'x': '7/26/21', 'y': 2326550},
   {'x': '7/27/21', 'y': 2327777}]},
 {'name': 'Peru',
  'data': [{'x': '7/23/21', 'y': 2094445},
   {'x': '7/24/21', 'y': 2094445},
   {'x': '7/25/21', 'y': 2094445},
   {'x': '7/26/21', 'y': 2104394},
   {'x': '7/27/21', 'y': 2104394}]},
 {'name': 'Netherlands',
  'data': [{'x': '7/23/21', 'y': 1862517},
   {'x': '7/24/21', 'y': 1867907},
   {'x': '7/25/21', 'y': 1872555},
   {'x': '7/26/21', 'y': 1876493},
   {'x': '7/27/21', 'y': 1880593}]},
 {'name': 'Czechia',
  'data': [{'x': '7/23/21', 'y': 1672140},
   {'x': '7/24/21', 'y': 1672340},
   {'x': '7/25/21', 'y': 1672409},
   {'x': '7/26/21', 'y': 1672547},
   {'x': '7/27/21', 'y': 1672764}]},
 {'name': 'Chile',
  'data': [{'x': '7/23/21', 'y': 1606358},
   {'x': '7/24/21', 'y': 1607749},
   {'x': '7/25/21', 'y': 1609177},
   {'x': '7/26/21', 'y': 1610345},
   {'x': '7/27/21', 'y': 1611090}]},
 {'name': 'Iraq',
  'data': [{'x': '7/23/21', 'y': 1535848},
   {'x': '7/24/21', 'y': 1543501},
   {'x': '7/25/21', 'y': 1552648},
   {'x': '7/26/21', 'y': 1564828},
   {'x': '7/27/21', 'y': 1577013}]},
 {'name': 'Philippines',
  'data': [{'x': '7/23/21', 'y': 1537097},
   {'x': '7/24/21', 'y': 1543281},
   {'x': '7/25/21', 'y': 1548755},
   {'x': '7/26/21', 'y': 1555396},
   {'x': '7/27/21', 'y': 1562420}]},
 {'name': 'Bangladesh',
  'data': [{'x': '7/23/21', 'y': 1146564},
   {'x': '7/24/21', 'y': 1153344},
   {'x': '7/25/21', 'y': 1164635},
   {'x': '7/26/21', 'y': 1179827},
   {'x': '7/27/21', 'y': 1194752}]},
 {'name': 'Belgium',
  'data': [{'x': '7/23/21', 'y': 1112161},
   {'x': '7/24/21', 'y': 1113465},
   {'x': '7/25/21', 'y': 1113465},
   {'x': '7/26/21', 'y': 1117697},
   {'x': '7/27/21', 'y': 1119030}]},
 {'name': 'Sweden',
  'data': [{'x': '7/23/21', 'y': 1096799},
   {'x': '7/24/21', 'y': 1096799},
   {'x': '7/25/21', 'y': 1096799},
   {'x': '7/26/21', 'y': 1096799},
   {'x': '7/27/21', 'y': 1098154}]},
 {'name': 'Romania',
  'data': [{'x': '7/23/21', 'y': 1082057},
   {'x': '7/24/21', 'y': 1082183},
   {'x': '7/25/21', 'y': 1082292},
   {'x': '7/26/21', 'y': 1082376},
   {'x': '7/27/21', 'y': 1082551}]},
 {'name': 'Malaysia',
  'data': [{'x': '7/23/21', 'y': 980491},
   {'x': '7/24/21', 'y': 996393},
   {'x': '7/25/21', 'y': 1013438},
   {'x': '7/26/21', 'y': 1027954},
   {'x': '7/27/21', 'y': 1044071}]},
 {'name': 'Pakistan',
  'data': [{'x': '7/23/21', 'y': 1000034},
   {'x': '7/24/21', 'y': 1004694},
   {'x': '7/25/21', 'y': 1008446},
   {'x': '7/26/21', 'y': 1011708},
   {'x': '7/27/21', 'y': 1015827}]},
 {'name': 'Portugal',
  'data': [{'x': '7/23/21', 'y': 947038},
   {'x': '7/24/21', 'y': 950434},
   {'x': '7/25/21', 'y': 953059},
   {'x': '7/26/21', 'y': 954669},
   {'x': '7/27/21', 'y': 956985}]},
 {'name': 'Japan',
  'data': [{'x': '7/23/21', 'y': 862585},
   {'x': '7/24/21', 'y': 866325},
   {'x': '7/25/21', 'y': 871360},
   {'x': '7/26/21', 'y': 876059},
   {'x': '7/27/21', 'y': 883767}]},
 {'name': 'Israel',
  'data': [{'x': '7/23/21', 'y': 857977},
   {'x': '7/24/21', 'y': 859398},
   {'x': '7/25/21', 'y': 860652},
   {'x': '7/26/21', 'y': 862717},
   {'x': '7/27/21', 'y': 864912}]},
 {'name': 'Hungary',
  'data': [{'x': '7/23/21', 'y': 809101},
   {'x': '7/24/21', 'y': 809101},
   {'x': '7/25/21', 'y': 809101},
   {'x': '7/26/21', 'y': 809262},
   {'x': '7/27/21', 'y': 809288}]},
 {'name': 'Jordan',
  'data': [{'x': '7/23/21', 'y': 763437},
   {'x': '7/24/21', 'y': 763922},
   {'x': '7/25/21', 'y': 764983},
   {'x': '7/26/21', 'y': 766114},
   {'x': '7/27/21', 'y': 767327}]},
 {'name': 'Serbia',
  'data': [{'x': '7/23/21', 'y': 719664},
   {'x': '7/24/21', 'y': 719913},
   {'x': '7/25/21', 'y': 720112},
   {'x': '7/26/21', 'y': 720353},
   {'x': '7/27/21', 'y': 720643}]},
 {'name': 'Switzerland',
  'data': [{'x': '7/23/21', 'y': 712668},
   {'x': '7/24/21', 'y': 712668},
   {'x': '7/25/21', 'y': 712668},
   {'x': '7/26/21', 'y': 714414},
   {'x': '7/27/21', 'y': 715267}]},
 {'name': 'Nepal',
  'data': [{'x': '7/23/21', 'y': 676708},
   {'x': '7/24/21', 'y': 679017},
   {'x': '7/25/21', 'y': 680556},
   {'x': '7/26/21', 'y': 682947},
   {'x': '7/27/21', 'y': 685673}]},
 {'name': 'United Arab Emirates',
  'data': [{'x': '7/23/21', 'y': 668601},
   {'x': '7/24/21', 'y': 670108},
   {'x': '7/25/21', 'y': 671636},
   {'x': '7/26/21', 'y': 673185},
   {'x': '7/27/21', 'y': 674724}]},
 {'name': 'Austria',
  'data': [{'x': '7/23/21', 'y': 655589},
   {'x': '7/24/21', 'y': 655938},
   {'x': '7/25/21', 'y': 656270},
   {'x': '7/26/21', 'y': 656582},
   {'x': '7/27/21', 'y': 656949}]},
 {'name': 'Kazakhstan',
  'data': [{'x': '7/23/21', 'y': 641388},
   {'x': '7/24/21', 'y': 582013},
   {'x': '7/25/21', 'y': 595577},
   {'x': '7/26/21', 'y': 602397},
   {'x': '7/27/21', 'y': 609646}]},
 {'name': 'Morocco',
  'data': [{'x': '7/23/21', 'y': 569668},
   {'x': '7/24/21', 'y': 575162},
   {'x': '7/25/21', 'y': 579272},
   {'x': '7/26/21', 'y': 581477},
   {'x': '7/27/21', 'y': 588448}]},
 {'name': 'Tunisia',
  'data': [{'x': '7/23/21', 'y': 558306},
   {'x': '7/24/21', 'y': 563930},
   {'x': '7/25/21', 'y': 569289},
   {'x': '7/26/21', 'y': 573394},
   {'x': '7/27/21', 'y': 575002}]},
 {'name': 'Lebanon',
  'data': [{'x': '7/23/21', 'y': 553615},
   {'x': '7/24/21', 'y': 554458},
   {'x': '7/25/21', 'y': 555302},
   {'x': '7/26/21', 'y': 555643},
   {'x': '7/27/21', 'y': 557145}]},
 {'name': 'Canada',
  'data': [{'x': '7/23/21', 'y': 1433200},
   {'x': '7/24/21', 'y': 1433525},
   {'x': '7/25/21', 'y': 1433792},
   {'x': '7/26/21', 'y': 1434866},
   {'x': '7/27/21', 'y': 1435403}]},
 {'name': 'Thailand',
  'data': [{'x': '7/23/21', 'y': 467707},
   {'x': '7/24/21', 'y': 481967},
   {'x': '7/25/21', 'y': 497302},
   {'x': '7/26/21', 'y': 512678},
   {'x': '7/27/21', 'y': 526828}]},
 {'name': 'Saudi Arabia',
  'data': [{'x': '7/23/21', 'y': 513284},
   {'x': '7/24/21', 'y': 513284},
   {'x': '7/25/21', 'y': 518143},
   {'x': '7/26/21', 'y': 518143},
   {'x': '7/27/21', 'y': 518143}]},
 {'name': 'Greece',
  'data': [{'x': '7/23/21', 'y': 471894},
   {'x': '7/24/21', 'y': 474366},
   {'x': '7/25/21', 'y': 475919},
   {'x': '7/26/21', 'y': 477975},
   {'x': '7/27/21', 'y': 482145}]},
 {'name': 'Ecuador',
  'data': [{'x': '7/23/21', 'y': 480720},
   {'x': '7/24/21', 'y': 480720},
   {'x': '7/25/21', 'y': 480720},
   {'x': '7/26/21', 'y': 480720},
   {'x': '7/27/21', 'y': 480720}]},
 {'name': 'Bolivia',
  'data': [{'x': '7/23/21', 'y': 467343},
   {'x': '7/24/21', 'y': 467975},
   {'x': '7/25/21', 'y': 468423},
   {'x': '7/26/21', 'y': 468423},
   {'x': '7/27/21', 'y': 470024}]},
 {'name': 'Paraguay',
  'data': [{'x': '7/23/21', 'y': 448508},
   {'x': '7/24/21', 'y': 448918},
   {'x': '7/25/21', 'y': 449341},
   {'x': '7/26/21', 'y': 449902},
   {'x': '7/27/21', 'y': 450494}]},
 {'name': 'Belarus',
  'data': [{'x': '7/23/21', 'y': 438767},
   {'x': '7/24/21', 'y': 439828},
   {'x': '7/25/21', 'y': 440708},
   {'x': '7/26/21', 'y': 441356},
   {'x': '7/27/21', 'y': 441881}]},
 {'name': 'Panama',
  'data': [{'x': '7/23/21', 'y': 427987},
   {'x': '7/24/21', 'y': 429083},
   {'x': '7/25/21', 'y': 429949},
   {'x': '7/26/21', 'y': 430444},
   {'x': '7/27/21', 'y': 431554}]},
 {'name': 'Bulgaria',
  'data': [{'x': '7/23/21', 'y': 423575},
   {'x': '7/24/21', 'y': 423629},
   {'x': '7/25/21', 'y': 423686},
   {'x': '7/26/21', 'y': 423879},
   {'x': '7/27/21', 'y': 424079}]},
 {'name': 'Georgia',
  'data': [{'x': '7/23/21', 'y': 398081},
   {'x': '7/24/21', 'y': 400698},
   {'x': '7/25/21', 'y': 402759},
   {'x': '7/26/21', 'y': 404023},
   {'x': '7/27/21', 'y': 407689}]},
 {'name': 'Costa Rica',
  'data': [{'x': '7/23/21', 'y': 398608},
   {'x': '7/24/21', 'y': 398608},
   {'x': '7/25/21', 'y': 398608},
   {'x': '7/26/21', 'y': 398608},
   {'x': '7/27/21', 'y': 402044}]},
 {'name': 'Kuwait',
  'data': [{'x': '7/23/21', 'y': 390794},
   {'x': '7/24/21', 'y': 391781},
   {'x': '7/25/21', 'y': 392617},
   {'x': '7/26/21', 'y': 393605},
   {'x': '7/27/21', 'y': 394538}]},
 {'name': 'Slovakia',
  'data': [{'x': '7/23/21', 'y': 392259},
   {'x': '7/24/21', 'y': 392259},
   {'x': '7/25/21', 'y': 392348},
   {'x': '7/26/21', 'y': 392355},
   {'x': '7/27/21', 'y': 392406}]},
 {'name': 'Uruguay',
  'data': [{'x': '7/23/21', 'y': 380151},
   {'x': '7/24/21', 'y': 380311},
   {'x': '7/25/21', 'y': 380431},
   {'x': '7/26/21', 'y': 380584},
   {'x': '7/27/21', 'y': 380793}]},
 {'name': 'Canada',
  'data': [{'x': '7/23/21', 'y': 1433200},
   {'x': '7/24/21', 'y': 1433525},
   {'x': '7/25/21', 'y': 1433792},
   {'x': '7/26/21', 'y': 1434866},
   {'x': '7/27/21', 'y': 1435403}]},
 {'name': 'Croatia',
  'data': [{'x': '7/23/21', 'y': 362305},
   {'x': '7/24/21', 'y': 362496},
   {'x': '7/25/21', 'y': 362621},
   {'x': '7/26/21', 'y': 362648},
   {'x': '7/27/21', 'y': 362841}]},
 {'name': 'Guatemala',
  'data': [{'x': '7/23/21', 'y': 347496},
   {'x': '7/24/21', 'y': 350816},
   {'x': '7/25/21', 'y': 352088},
   {'x': '7/26/21', 'y': 352584},
   {'x': '7/27/21', 'y': 355223}]},
 {'name': 'Cuba',
  'data': [{'x': '7/23/21', 'y': 316383},
   {'x': '7/24/21', 'y': 324115},
   {'x': '7/25/21', 'y': 332968},
   {'x': '7/26/21', 'y': 341152},
   {'x': '7/27/21', 'y': 349055}]},
 {'name': 'Azerbaijan',
  'data': [{'x': '7/23/21', 'y': 339645},
   {'x': '7/24/21', 'y': 340057},
   {'x': '7/25/21', 'y': 340443},
   {'x': '7/26/21', 'y': 340715},
   {'x': '7/27/21', 'y': 341183}]},
 {'name': 'Dominican Republic',
  'data': [{'x': '7/23/21', 'y': 339302},
   {'x': '7/24/21', 'y': 339669},
   {'x': '7/25/21', 'y': 340053},
   {'x': '7/26/21', 'y': 340230},
   {'x': '7/27/21', 'y': 340498}]},
 {'name': 'West Bank and Gaza',
  'data': [{'x': '7/23/21', 'y': 315968},
   {'x': '7/24/21', 'y': 315968},
   {'x': '7/25/21', 'y': 316088},
   {'x': '7/26/21', 'y': 316088},
   {'x': '7/27/21', 'y': 316189}]},
 {'name': 'Denmark',
  'data': [{'x': '7/23/21', 'y': 311170},
   {'x': '7/24/21', 'y': 311935},
   {'x': '7/25/21', 'y': 312582},
   {'x': '7/26/21', 'y': 313354},
   {'x': '7/27/21', 'y': 313922}]},
 {'name': 'Venezuela',
  'data': [{'x': '7/23/21', 'y': 296863},
   {'x': '7/24/21', 'y': 298804},
   {'x': '7/25/21', 'y': 299822},
   {'x': '7/26/21', 'y': 300919},
   {'x': '7/27/21', 'y': 301979}]},
 {'name': 'Sri Lanka',
  'data': [{'x': '7/23/21', 'y': 292608},
   {'x': '7/24/21', 'y': 294850},
   {'x': '7/25/21', 'y': 296516},
   {'x': '7/26/21', 'y': 298181},
   {'x': '7/27/21', 'y': 299892}]},
 {'name': 'Ireland',
  'data': [{'x': '7/23/21', 'y': 290525},
   {'x': '7/24/21', 'y': 291870},
   {'x': '7/25/21', 'y': 292996},
   {'x': '7/26/21', 'y': 294272},
   {'x': '7/27/21', 'y': 295386}]},
 {'name': 'Oman',
  'data': [{'x': '7/23/21', 'y': 289042},
   {'x': '7/24/21', 'y': 289042},
   {'x': '7/25/21', 'y': 293954},
   {'x': '7/26/21', 'y': 294526},
   {'x': '7/27/21', 'y': 295017}]},
 {'name': 'Honduras',
  'data': [{'x': '7/23/21', 'y': 286635},
   {'x': '7/24/21', 'y': 286635},
   {'x': '7/25/21', 'y': 286635},
   {'x': '7/26/21', 'y': 286635},
   {'x': '7/27/21', 'y': 291687}]},
 {'name': 'Egypt',
  'data': [{'x': '7/23/21', 'y': 283947},
   {'x': '7/24/21', 'y': 283985},
   {'x': '7/25/21', 'y': 284024},
   {'x': '7/26/21', 'y': 284059},
   {'x': '7/27/21', 'y': 284090}]},
 {'name': 'Lithuania',
  'data': [{'x': '7/23/21', 'y': 280541},
   {'x': '7/24/21', 'y': 280774},
   {'x': '7/25/21', 'y': 280966},
   {'x': '7/26/21', 'y': 281063},
   {'x': '7/27/21', 'y': 281284}]},
 {'name': 'Burma',
  'data': [{'x': '7/23/21', 'y': 258870},
   {'x': '7/24/21', 'y': 264527},
   {'x': '7/25/21', 'y': 269525},
   {'x': '7/26/21', 'y': 274155},
   {'x': '7/27/21', 'y': 279119}]},
 {'name': 'Ethiopia',
  'data': [{'x': '7/23/21', 'y': 278233},
   {'x': '7/24/21', 'y': 278446},
   {'x': '7/25/21', 'y': 278543},
   {'x': '7/26/21', 'y': 278717},
   {'x': '7/27/21', 'y': 278920}]},
 {'name': 'Bahrain',
  'data': [{'x': '7/23/21', 'y': 268338},
   {'x': '7/24/21', 'y': 268413},
   {'x': '7/25/21', 'y': 268541},
   {'x': '7/26/21', 'y': 268626},
   {'x': '7/27/21', 'y': 268731}]},
 {'name': 'Moldova',
  'data': [{'x': '7/23/21', 'y': 258484},
   {'x': '7/24/21', 'y': 258581},
   {'x': '7/25/21', 'y': 258624},
   {'x': '7/26/21', 'y': 258713},
   {'x': '7/27/21', 'y': 258852}]},
 {'name': 'Slovenia',
  'data': [{'x': '7/23/21', 'y': 258525},
   {'x': '7/24/21', 'y': 258619},
   {'x': '7/25/21', 'y': 258651},
   {'x': '7/26/21', 'y': 258674},
   {'x': '7/27/21', 'y': 258780}]},
 {'name': 'Libya',
  'data': [{'x': '7/23/21', 'y': 229604},
   {'x': '7/24/21', 'y': 229604},
   {'x': '7/25/21', 'y': 233449},
   {'x': '7/26/21', 'y': 236961},
   {'x': '7/27/21', 'y': 240309}]},
 {'name': 'Canada',
  'data': [{'x': '7/23/21', 'y': 1433200},
   {'x': '7/24/21', 'y': 1433525},
   {'x': '7/25/21', 'y': 1433792},
   {'x': '7/26/21', 'y': 1434866},
   {'x': '7/27/21', 'y': 1435403}]},
 {'name': 'Armenia',
  'data': [{'x': '7/23/21', 'y': 228382},
   {'x': '7/24/21', 'y': 228632},
   {'x': '7/25/21', 'y': 228798},
   {'x': '7/26/21', 'y': 228910},
   {'x': '7/27/21', 'y': 229090}]},
 {'name': 'Qatar',
  'data': [{'x': '7/23/21', 'y': 224948},
   {'x': '7/24/21', 'y': 225072},
   {'x': '7/25/21', 'y': 225198},
   {'x': '7/26/21', 'y': 225376},
   {'x': '7/27/21', 'y': 225522}]},
 {'name': 'Bosnia and Herzegovina',
  'data': [{'x': '7/23/21', 'y': 205420},
   {'x': '7/24/21', 'y': 205420},
   {'x': '7/25/21', 'y': 205420},
   {'x': '7/26/21', 'y': 205495},
   {'x': '7/27/21', 'y': 205523}]},
 {'name': 'Kenya',
  'data': [{'x': '7/23/21', 'y': 195898},
   {'x': '7/24/21', 'y': 196745},
   {'x': '7/25/21', 'y': 197409},
   {'x': '7/26/21', 'y': 197959},
   {'x': '7/27/21', 'y': 198935}]},
 {'name': 'Korea, South',
  'data': [{'x': '7/23/21', 'y': 187362},
   {'x': '7/24/21', 'y': 188848},
   {'x': '7/25/21', 'y': 190166},
   {'x': '7/26/21', 'y': 190166},
   {'x': '7/27/21', 'y': 193427}]},
 {'name': 'Zambia',
  'data': [{'x': '7/23/21', 'y': 190615},
   {'x': '7/24/21', 'y': 191527},
   {'x': '7/25/21', 'y': 192071},
   {'x': '7/26/21', 'y': 192316},
   {'x': '7/27/21', 'y': 192956}]},
 {'name': 'Nigeria',
  'data': [{'x': '7/23/21', 'y': 170306},
   {'x': '7/24/21', 'y': 170895},
   {'x': '7/25/21', 'y': 171111},
   {'x': '7/26/21', 'y': 171324},
   {'x': '7/27/21', 'y': 171728}]},
 {'name': 'Algeria',
  'data': [{'x': '7/23/21', 'y': 159563},
   {'x': '7/24/21', 'y': 160868},
   {'x': '7/25/21', 'y': 162155},
   {'x': '7/26/21', 'y': 163660},
   {'x': '7/27/21', 'y': 165204}]},
 {'name': 'Mongolia',
  'data': [{'x': '7/23/21', 'y': 153782},
   {'x': '7/24/21', 'y': 155224},
   {'x': '7/25/21', 'y': 157974},
   {'x': '7/26/21', 'y': 157974},
   {'x': '7/27/21', 'y': 160344}]},
 {'name': 'Kyrgyzstan',
  'data': [{'x': '7/23/21', 'y': 155005},
   {'x': '7/24/21', 'y': 156152},
   {'x': '7/25/21', 'y': 157147},
   {'x': '7/26/21', 'y': 158120},
   {'x': '7/27/21', 'y': 159089}]},
 {'name': 'North Macedonia',
  'data': [{'x': '7/23/21', 'y': 156017},
   {'x': '7/24/21', 'y': 156054},
   {'x': '7/25/21', 'y': 156078},
   {'x': '7/26/21', 'y': 156086},
   {'x': '7/27/21', 'y': 156124}]},
 {'name': 'Canada',
  'data': [{'x': '7/23/21', 'y': 1433200},
   {'x': '7/24/21', 'y': 1433525},
   {'x': '7/25/21', 'y': 1433792},
   {'x': '7/26/21', 'y': 1434866},
   {'x': '7/27/21', 'y': 1435403}]},
 {'name': 'Afghanistan',
  'data': [{'x': '7/23/21', 'y': 143439},
   {'x': '7/24/21', 'y': 143439},
   {'x': '7/25/21', 'y': 143439},
   {'x': '7/26/21', 'y': 144285},
   {'x': '7/27/21', 'y': 145008}]},
 {'name': 'Latvia',
  'data': [{'x': '7/23/21', 'y': 138382},
   {'x': '7/24/21', 'y': 138425},
   {'x': '7/25/21', 'y': 138481},
   {'x': '7/26/21', 'y': 138504},
   {'x': '7/27/21', 'y': 138572}]},
 {'name': 'Norway',
  'data': [{'x': '7/23/21', 'y': 135463},
   {'x': '7/24/21', 'y': 135631},
   {'x': '7/25/21', 'y': 135767},
   {'x': '7/26/21', 'y': 136097},
   {'x': '7/27/21', 'y': 136370}]},
 {'name': 'Albania',
  'data': [{'x': '7/23/21', 'y': 132828},
   {'x': '7/24/21', 'y': 132853},
   {'x': '7/25/21', 'y': 132875},
   {'x': '7/26/21', 'y': 132891},
   {'x': '7/27/21', 'y': 132922}]},
 {'name': 'Estonia',
  'data': [{'x': '7/23/21', 'y': 132262},
   {'x': '7/24/21', 'y': 132368},
   {'x': '7/25/21', 'y': 132458},
   {'x': '7/26/21', 'y': 132524},
   {'x': '7/27/21', 'y': 132717}]},
 {'name': 'Uzbekistan',

In [84]:
countryDataSpe=pd.DataFrame(confirmedGlobal[confirmedGlobal['Country/Region']=='China'][confirmedGlobal.columns[4:-1]].sum()).reset_index()
countryDataSpe.columns=['country','values']
countryDataSpe['lagVal']=countryDataSpe['values'].shift(1).fillna(0)
countryDataSpe['incrementVal']=countryDataSpe['values']-countryDataSpe['lagVal']
countryDataSpe['rollingMean']=countryDataSpe['incrementVal'].rolling(window=4).mean()
countryDataSpe=countryDataSpe.fillna(0)
datasetsForLine=[{'label':'Daily Cumulated Data','data':countryDataSpe['values'].values.tolist()},
                {'label':'Rolling Mean 4 days','data':countryDataSpe['rollingMean'].values.tolist()}]

In [85]:
countryDataSpe=pd.DataFrame(confirmedGlobal[confirmedGlobal['Country/Region']=='China'][confirmedGlobal.columns[4:-1]].sum()).reset_index()
countryDataSpe.columns=['country','values']

In [86]:
confirmedGlobal

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,NewContryCode
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,141489,142414,142414,143183,143439,143439,143439,144285,145008,Afghanistan
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132697,132740,132763,132797,132828,132853,132875,132891,132922,Albania
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,154486,155784,157005,158213,159563,160868,162155,163660,165204,Algeria
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,14359,14379,14379,14464,14498,14498,14498,14577,14586,Andorra
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,40906,41061,41227,41405,41629,41736,41780,41879,42110,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,60180,65607,71144,78269,86957,94913,101173,106347,117121,Vietnam
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,315761,315761,315876,315876,315968,315968,316088,316088,316189,West Bank and Gaza
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6987,6992,6997,7001,7003,7008,7012,7012,7022,Yemen
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,186279,187602,188573,189731,190615,191527,192071,192316,192956,Zambia
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,85732,88415,91120,93421,95686,97277,97894,99944,101711,Zimbabwe

In [87]:
recoverGlobal1=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recoverGlobal1['NewContryCode']=recoverGlobal1['Country/Region']+recoverGlobal1['Province/State'].fillna(' ')
recoverGlobal1.dropna( how='any', inplace=False)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,NewContryCode
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,121,121,121,121,121,121,121,121,121,AustraliaAustralian Capital Territory
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AustraliaNew South Wales
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,185,185,186,188,188,188,188,189,190,AustraliaNorthern Territory
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,1698,1701,1701,1707,1707,1715,1715,1715,1717,AustraliaQueensland
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,814,816,822,822,822,822,822,826,827,AustraliaSouth Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,4299,4302,4319,4336,4336,4371,4374,4393,4403,United KingdomGibraltar
250,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,1623,1623,1623,1638,1638,1686,1686,1686,1686,United KingdomIsle of Man
251,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,United KingdomMontserrat
252,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,"United KingdomSaint Helena, Ascension and Tris..."
253,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,2400,2404,2404,2404,2404,2417,2418,2418,2425,United KingdomTurks and Caicos Islands

In [88]:
x=input("Enter a country: ")

In [89]:
x

''

In [90]:
final=recoverGlobal1[recoverGlobal1['Province/State']==x]
final

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 558 columns]

In [92]:
data=[['1', final.iloc[:,-11].astype(int)], ['2', final.iloc[:,-10].astype(int)], ['3', final.iloc[:,-9].astype(int)], ['4', final.iloc[:,-8].astype(int)], ['5', final.iloc[:,-7].astype(int)], ['6', final.iloc[:,-6].astype(int)], ['7', final.iloc[:,-5].astype(int)], ['8', final.iloc[:,-4].astype(int)], ['9', final.iloc[:,-3].astype(int)], ['10', final.iloc[:,-2].astype(int)] ]

TypeError: cannot convert the series to <class 'int'>

In [ ]:
df = pd.DataFrame(data, columns = ['Day', 'Cases']) 
df

  Day  Cases
0   1    107
1   2    107
2   3    133
3   4    146
4   5    146
5   6    147
6   7    147
7   8    147
8   9    147
9  10    179

In [70]:
x =np.asarray(df['Day']).reshape(-1,1)
y =np.asarray(df['Cases']).reshape(-1,1)

NameError: name 'df' is not defined

In [121]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [122]:
model = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [123]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [124]:
predict_test = model.predict(x_test)

In [125]:
#(predict_test)

In [126]:
model.predict([[11]])

array([[167.98648649]])